# Binaries for programs and plugins
*.exe
*.dll
*.so
csv2xlsx

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/.idea
/distdummy_large.csv
test_large_output.xlsx
