name: test
on: [push]
permissions:
  contents: write
jobs:
  test:
    name: Go test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v4        
        with:
          go-version-file: go.mod
      - name: test
        run: go test 
